.side-header{
    flex: 0 0 5%;
    min-width: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-between;

    padding: 1rem;
}
.side_header__main-nav{
    flex:1
}
.side-header img{
    width: 2rem;
    height: 2rem;
}
.side-header__button{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
.side-header__button > button{
    padding: 0.5rem;
   border-radius: 10px;
}