*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}
#root{
    display: flex;
    width: 100vw;
    height: 100vh;
}
body{
    font-size: 18pt;
}


.info-bar.hidden{
    display: none;
}

.main-container{
   
    flex: 1;
}